/*CSS Grid */

@media (min-width: 900px){ 

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
        
}
.container > *{
    grid-column: 2/-1; 
}
.tgrid-start2{
    grid-column-start: 2;
    grid-column-end: 3; 
    grid-row-start: 1; 
}
.tgrid-start3{
    grid-column-start: 2;
    grid-column-end: 3;  
    grid-row-start: 1;
    margin-top: 225px;
}
.tgrid-start4{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;  
    margin-top: 160px;
}
.tgrid-start5{
    grid-column-start: 3;
    grid-column-end: 5;  
}
.tgrid-start6{
    grid-column-start: 2;
    grid-column-end: 3;  
}
.tgrid-start7{
    grid-column-start: 3;
    grid-column-end: 5;  
}

}

@media (min-width: 1200px){ 
    .container{

        column-gap: 30px;
        row-gap: 40px;
        
    }

    .dgrid-start1{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        margin-top: 333px;  
    }
    
}