body {
    font-family: $type-text;
    font-size: $size-text;
    line-height: 1.5;
    color: $c-text;
    background-color: $c-bg;
}
/*section*/
.section{
    padding: 30px;
    margin: auto;
    max-width: 100%;
}
.section--header{
    flex-direction: column;
    bottom: 49px;
    position: relative;
}
.section--footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid $c-logo;
    top: 80px;
    position: relative;
}

/*images*/
img{
    max-width: 100%;
    position: relative;
 
}
.img--protect{
    top: 50px;
}
.dwm{
    width: 50px;
    left: 167px;
    top: 3px;
}
.mockup{
    max-width: 100%;
    position: relative;
    top: 80px;
}

/*objet*/
.ovale{
    position: relative;
    max-width: 100%;
    border-radius: 0% 100% 63% 27%/100% 51% 59% 0;
    background: $c-bulle;
    margin: -50px;
    padding: 40px;
    right: 10px;
    animation: color 3s infinite;
} 
.ovale--case{
    border-radius: 0% 100% 83% 57%/100% 51% 29% 0%;

}

/*points fort*/
.box{
    position: relative;
    margin: 0;
    padding: 0;
}
.page{
    font-size: $size-text;
    border-radius: 50px;
    background-color: $c-logo;
    width: 320px;
    height: 300px;
}
.colors {
    width: 50px;
    height: 30px;
    border-radius: 150px;
    border: groove 3px;
    display: inline-block;
    padding: 5px;
    background-color: #1D1D1B;
    position: relative;
    left: 60px;
}
.colors--2 {
    background-color: #550000;
}
.colors--3 {
    background-color: #FEFEFE;
}
.colors--4 {
    background-color: #FBD9D3;
} 

@media (min-width: 900px){ 
    body {
        font-size: $size-tablette;
      }
      .section--footer{
          flex-direction: row;
          padding: 20px;
      }
    .box{
        width: 800px;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: space-between;
        overflow-x: hidden;
        padding: 30px;
    }
    
    .page{
        height: 457px;
        margin: 10px;
        font-size: $size-tablette;
    }
    .scroll{
        position: absolute;
        height: 5px;
        max-width: 100%;
        background-color: pink;
        top: 0;
        left: 0;
    }

    .ovale{
        right: 93px;
        border-radius: 0% 100% 63% 10%/100% 51% 50% 0%;
    } 
    .ovale--case{
        right: 94px;
        padding: 177px;
        border-radius: 0% 100% 53% 27%/100% 41% 29% 0%;
    }
    .dwm{
        left: 2px;
    }
    .mockup{
        top: 71px;
    }

}
@media (min-width: 1200px){ 
    .box{
        width: 1248px;
    }
    .page{
        font-size: $size-desktop;
        width: 559px;
        height: 495px;
        padding: 20px;
    }
    .ovale{
        padding: 131px;
        right: 187px;
    }
    .ovale--case{
        width: 659px;
        right: 254px;
    }
  
    .img--protect{
        width: 500px;
    }
    .pictures{
        width: 800px;
    }

}
@media (min-width: 1500px){
    .ovale {
        right: 89px;
    }
    .ovale--case{
        right: 689px;
    width: 2003px;
    }
}