body {
    font-family: $type-text;
    font-size: $size-text;
    line-height: 1.5;
    color: $c-text;
    background-color: $c-bg;
  }
/*section*/
.section{
    padding: 50px;
    margin: auto;
    max-width: 100%;
}
.section--header{
    flex-direction: column;
}
.section--footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: auto;
    border-top: 2px solid $c-logo;
    top: 80px;
    position: relative;
}

/*images*/
img{
    max-width: 100%;
    padding: 20px;
}

/*objet*/
.ovale{
    position: relative;
    width: 325px;
    border-radius: 0% 100% 63% 57% / 100% 51% 49% 0% ;
    background: $c-bulle;
    margin: -50px;
    padding: 40px;
    animation: color 3s infinite;
} 

/*points fort*/
.box{
    position: relative;
    margin: 0;
    padding: 0;
}
.page{
    font-size: 20px;
    border-radius: 50px;
    background-color: $c-logo;
    width: 320px;
    height: 300px;
}


  

@media (min-width: 900px){ 
    .box{
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: space-between;
        overflow-x: hidden;
        padding: 30px;
    }
    
    
    .scroll{
        position: absolute;
        height: 5px;
        width: 0;
        background-color: pink;
        top: 0;
        left: 0;
    }
}