body {
    font-family: $type-text;
    font-size: $size-text;
    line-height: 1.5;
    color: $c-text;
    background-color: $c-bg;
}
/*section*/
.section{
    padding: 30px;
    margin: auto;
    max-width: 100%;
}
.section--header{
    flex-direction: column;
    position: relative;
}
.section--footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid $c-logo;
    top: 103px;
    position: relative;
}
.section--titre,
.section--fonction,
.section--filtres,
.section--case{
    margin-top: 70px;
}
/*images*/
img{
    max-width: 100%;
    position: relative;
 
}
.img--protect{
    width: 193px;
    top: 59px;
}
.dwm{
    width: 50px;
    left: 167px;
    top: 3px;
}
.mockup{
    max-width: 100%;
    position: relative;
    top: 80px;
}
.mockup--case{
    top: 0;
}
.picto{
    width: 50px;
    position: absolute;
    left: 38px;
    top: 44px;
}
.picto--pouce{
    top: 355px;
    left: 20px;
    width: 75px;
}
.picto--ou{
    top: 646px;
}
.mvp{
    max-width: 900px;
}
.mvp--case{
    top: 21px;
}
.user{
    max-width: 259px;
}
.logo{
    width: 30px;
    position: relative;
    left: 267px;
}
/*objet*/
.ovale{
    position: relative;
    max-width: 100%;
    border-radius: 0% 100% 63% 27%/100% 51% 59% 0;
    background: $c-bulle;
    margin: -50px;
    padding: 40px;
    right: 10px;
} 
.ovale--case{
    border-radius: 0% 100% 83% 57%/100% 51% 29% 0%;

}

/*points fort*/
.box{
    position: relative;
    margin: 0;
    padding: 0;
}
.page{
    font-size: $size-text;
    border-radius: 50px;
    background-color: $c-logo;
    width: 320px;
    height: 286px;
}
.page--case{
    height: 504px;
}

/*couleurs uikit*/
.colors {
    width: 50px;
    height: 30px;
    border-radius: 150px;
    border: groove 3px;
    display: inline-block;
    padding: 5px;
    background-color: #1D1D1B;
    position: relative;
    left: 60px;
}
.colors--2 {
    background-color: #550000;
}
.colors--3 {
    background-color: #FEFEFE;
}
.colors--4 {
    background-color: #FBD9D3;
} 

@media (min-width: 900px){ 
    body {
        font-size: $size-tablette;
      }
      .section--footer{
          flex-direction: row;
          padding: 20px;
      }
    .section--ui,
    .section--credits{
        max-width: 646px;
    }
    .scroll{
        position: absolute;
        height: 5px;
        max-width: 100%;
        background-color: pink;
        top: 0;
        left: 0;
    }

    .box{
        display: flex;
        align-content: center;
        justify-content: space-between;
        overflow-x: hidden;
        padding: 30px;
        width: 100%;
    }
    
    .page{
        width: 469px;
        height: 360px;
        margin: 20px;
        font-size: $size-tablette;
    }
    .page--case{
        height: 567px;
    }
    .ovale{
        right: 93px;
        border-radius: 0% 100% 63% 10%/100% 51% 50% 0%;
    } 
    .ovale--case{
        right: 94px;
        padding: 105px;
        border-radius: 0% 100% 53% 27%/100% 41% 29% 0%;
    }
    .dwm{
        left: 2px;
    }
    .mockup{
        top: 58px;
    }
    .mockup--case{
        top: 171px;
    }
    .mockup--case__mvp{
        width: 256px;
        top: 0;
    }
    .picto{
        width: 58px;
        left: 104px;
        top: 109px;
    }
    .picto--pouce{
        width: 72px;
        left: 603px;
    }
    .picto--ou{
        left: 1121px;
        top: 91px;
    }
    .pictures{
        width: 829px;
    }
    .logo{
        width: 37px;
        bottom: 535px;
        left: 607px;
    }
    .logo--page{
        bottom: 114px;
    }
    .img--protect{
        width: 537px;
        top: 0;
    }

}
@media (min-width: 1200px){ 
    .section{
        /*padding: 10px;*/
        padding: 40px;
    }
    .ovale{
        right: 160px;
        padding: 97px;
    }
    .ovale--case{
        padding: 122px;
        right: 148px;
    }
    .page{
        font-size: $size-desktop;
        width: 559px;
        height: 418px;
        padding: 20px;
    }
    .page--case{
        width: 559px;
        height: 1236px;
    }
    .img--protect{
        width: 500px;
    }
    .picto{
        left: 122px;
        top: 131px;
        width: 67px;
    }
    .picto--ou{
        left: 1408px;
    }
    .picto--pouce{
        left: 750px;
        width: 87px;
    }
    .mockup{
        top: 117px;
        width: 277px;
    }   
    .mvp{
        width: 500px;
    }
    .pictures{
        width: 1020px;
    }
    .pictures--case{
        width: 500px;
    }
    .logo{
        width: 44px;
        bottom: 743px;
        left: 1033px;
    }
    .logo--page {
        bottom: 190px;
    }
}
@media (min-width: 1500px){
    .ovale {
        right: 89px;
    }
    .ovale--case{
        right: 108px;
    }
}