/*texte et titre*/
.title {
  color: $c-text;
  font-family: $type-title;
  animation: translate 3s;
}
.title--sous,
.texte{
  position: relative;
  color: $c-link;
  padding: 10px;
  margin: 20px;
  animation: translate 3s;
}
.texte--box{
  top: 32px;
}
.title--sous__box{
  top: 20px;
}
.logo{
  color: $c-logo;
  font-family: $type-title;
  animation: translate 3s;
}


.contenair{
  width: 100%;
  max-width: 750px;
  padding: 0;
  margin: auto;
}
@media (min-width: 900px){ 
.contenair{
  max-width: 900px;
  
}
}
@media (min-width: 1200px){ 
.contenair{
  max-width: 1300px;

}
}