.contenair{
  width: 100%;
  max-width: 750px;
  padding: 0;
  margin: auto;
}
/*texte et titre*/
.title {
  color: $c-text;
  font-family: $type-title;
  animation: translate 3s;
}
.title--sous,
.texte{
  position: relative;
  color: $c-link;
  padding: 10px;
  margin: 20px;
  animation: translate 3s;
}
.texte--box{
  top: 32px;
}
.title--sous__box{
  top: 20px;
  color: $c-link;
}
.logo{
  color: $c-logo;
  font-family: $type-logo;
  animation: translate 3s;
  font-size: $size-title;
}

@media (min-width: 900px){ 
  .contenair{
    max-width: 900px;
  }
  .title--sous, 
  .texte{
    left: 111px;
    top: 20px;
  }
  .title--sous__box{
    position: relative;
    left: 30px;
    width: 270px;
  }
  .texte--box{
    left: 0;
    width: 270px;
  }
}
@media (min-width: 1200px){ 
  .contenair{
    max-width: 1300px;
  }
  .title {
    font-size: $size-title;
  }
  .title--sous, 
  .texte{
    width: 500px;
    left: 280px;
    top: 66px;
  }
  .texte{
    font-size: $size-desktop;
    left: 280px;
    top: 87px;
  }
  .texte--box{
    width: 447px;
    left: 21px;
  }
  .title--sous__box{
    width: 587px;
    left: 54px;
  }
}
@media (min-width: 1500px){
  .title--sous, .texte {
    width: 508px;
    left: 955px;
    top: 329px;
  }
  .texte--box{
    left: 25px;
    top: 35px;
  }
}