.contenair{
  width: 100%;
  max-width: 750px;
  padding: 0;
  margin: auto;
}
/*texte et titre*/
.title {
  color: $c-text;
  font-family: $type-title;
  animation: translate 3s;
}
.title--sous,
.texte{
  position: relative;
  color: $c-link;
  padding: 10px;
  margin: 20px;
  animation: translate 3s;
}
.texte--box{
  top: 24px;
  width: 284px;
}
.texte--box__posi{
  top: -13px;
}
.texte--box__budget{
  top: 69px;
}
.texte--case{
  color: $c-text;
}
.title--sous__budget{
  top: 42px;
  left: 100px;
}
.title--sous__posi{
  top: -18px;
  left: 73px;
  width: 207px;
}
.title--sous__dispo{
  top: -3px;
  left: 73px;
}
.logo{
  color: $c-logo;
  font-family: $type-logo;
  animation: translate 3s;
  font-size: $size-title;
}
.sous{
  color: $c-text;
  font-size: $size-sous;
}
.sous--white{
  color: $c-link;
}

@media (min-width: 900px){ 
  .contenair{
    max-width: 900px;
  }
  .title--sous, 
  .texte{
    padding: 30px;
    width: 399px;
  }
  .title--sous__dispo{
    top: -73px;
  }
  .title--sous__budget{
    top: 10px;
  }
  .title--sous__posi{
    top: -83px;
  }
  .texte--box{
    top: -69px;
    width: 341px;
  }
  .texte--box__budget{
    top: 17px;
  }
  .texte--box__posi{
    top: -123px;
  }
}
@media (min-width: 1200px){ 
  .contenair{
    max-width: 1300px;
  }
  .title {
    font-size: $size-title;
    width: 431px;
  }
  .texte{
    font-size: $size-desktop;
    width: 522px;
  }
  .texte--box{
    top: -50px;
  }
  .texte--box__posi{
    top: -120px;
  }
  .texte--box__budget{
    top: 38px;
  }
  .title--sous__dispo{
    left: 114px;
  }
  .title--points{
    width: 941px;
  }
}
@media (min-width: 1500px){
 
}